/* DISPLAY */

.pos-rel { position: relative; }
.flex { display: flex; flex-wrap: wrap; }
.d-none { display: none; }
.d-block { display: block; }
.j-between { justify-content: space-between; }
.j-center { justify-content: center; }
.a-center { align-items: center; }
.a-between { align-items: space-between;}
.txt-center { text-align: center; }
.txt-end { text-align: end;}