/* Taille de police */

.fs4 { font-size: 4px; }
.fs8 { font-size: 8px; }
.fs16 { font-size: 16px; }
.fs24 { font-size: 24px; }
.fs32 { font-size: 32px; }
.fs48 { font-size: 48px; }
.fs60 { font-size: 60px; }
.fs80 { font-size: 80px; }