/* marge */

/* marge auto */
.mrlauto { margin: 0 auto; }
.mtbauto { margin: auto 0; }
.mtauto { margin-top: auto; }
.mlauto { margin-left: auto; }
.mbauto { margin-bottom: auto; }
.mrauto { margin-right: auto; }

/* marge top */
.mt4 { margin-top: 4px; }
.mt8 { margin-top: 8px; }
.mt16 { margin-top: 16px; }
.mt24 { margin-top: 24px; }
.mt32 { margin-top: 32px; }
.mt48 { margin-top: 48px; }
.mt64 { margin-top: 64px; }
.mt80 { margin-top: 80px; }

/* marge left */
.ml4 { margin-left: 4px; }
.ml8 { margin-left: 8px; }
.ml16 { margin-left: 16px; }
.ml24 { margin-left: 24px; }
.ml32 { margin-left: 32px; }
.ml48 { margin-left: 48px; }
.ml64 { margin-left: 64px; }
.ml80 { margin-left: 80px; }

/* marge bottom */
.mb4 { margin-bottom: 4px; }
.mb8 { margin-bottom: 8px; }
.mb16 { margin-bottom: 16px; }
.mb24 { margin-bottom: 24px; }
.mb32 { margin-bottom: 32px; }
.mb48 { margin-bottom: 48px; }
.mb64 { margin-bottom: 64px; }
.mb80 { margin-bottom: 80px; }

/* marge right */
.mr4 { margin-right: 4px; }
.mr8 { margin-right: 8px; }
.mr16 { margin-right: 16px; }
.mr24 { margin-right: 24px; }
.mr32 { margin-right: 32px; }
.mr48 { margin-right: 48px; }
.mr64 { margin-right: 64px; }
.mr80 { margin-right: 80px; }