/* utilistaires divers */

:visited, :active, :link { text-decoration: none; }
li { list-style: none; }
.btn { display: inline-block; cursor: pointer; }
.cursor-pointer { cursor: pointer; }
.overflow-hidden { overflow: hidden;}
.b-none { border: none; }
.round4 { border: 4px;}
.round8 { border: 8px;}
.round16 { border: 16px;}